body{
    background-color: darkgrey;
    color: blueviolet;
}
 section{
    background-color: slategrey;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
 }
 .chamada-texto{
    margin-right: 40px;
 }
 img{
    height: 200px;
 }
 .chamada-video{
    display: flex;
    overflow-x: auto;
    gap: ;
 }